- var cat0 = [{"cat":"Population","subcat0":"","subcat1":"","subcat2":"","subcat3":"","subcat4":"","subcat5":""},{"cat":"Age","subcat0":"Under 18 years","subcat1":"18 to 24 years","subcat2":"25 to 44 years","subcat3":"45 to 64 years","subcat4":"Over 65 years","subcat5":""},{"cat":"Sex","subcat0":"Male","subcat1":"Female","subcat2":"","subcat3":"","subcat4":"","subcat5":""},{"cat":"Ethnicity","subcat0":"Black/African-American","subcat1":"White","subcat2":"Asian","subcat3":"Some other race","subcat4":"Two or more races","subcat5":"Hispanic/Latino ethnicity of any race"},{"cat":"% of childen living in single parent households","subcat0":"","subcat1":"","subcat2":"","subcat3":"","subcat4":"","subcat5":""},{"cat":"% of adults with no health insurance","subcat0":"","subcat1":"","subcat2":"","subcat3":"","subcat4":"","subcat5":""},{"cat":"% of children with no health insurance","subcat0":"","subcat1":"","subcat2":"","subcat3":"","subcat4":"","subcat5":""},{"cat":"% of residents with limited English proficiency","subcat0":"","subcat1":"","subcat2":"","subcat3":"","subcat4":"","subcat5":""}]

- var cat1 = []

- var cat2 = []

- var cat3 = []

- var categories = [cat0, cat1, cat2, cat3]