@import "mixins";
@import "variables";
// Sass mixins libraries
@import "bourbon/bourbon";
@import "neat/neat";
// Base styles -- normalizes styles across browsers. 
// Alter border-sizing styles to prevent issues in P2P HTML stories
@import "normalize";
// @import "fonts";

$base: $beige-light;
$base-dark: $beige;

$primary: $m-green;
$primary-dark: $m-green-dark;
$primary-light: $m-green-light;

$text-0: $m-black;
$text-1: white;
$text-2: $m-gray-dark;

$accent-0: $m-orange;

$shader-0: $m-black;
$shader-0b: #444;
$shader-1: $m-gray-dark;
$shader-2: $m-gray;
$shader-9: white;

$bp-1: 400px;
$bp-2: 600px;
$bp-3: 768px;
$bp-4: 900px;
$bp-5: 1000px;

body {
	background-color: $base;
	color: $text-0;
	font-size: 14px; // body-level font size for "em"-scaled designs	
	font-family: $lato;
	font-weight: 400;
	overflow-x: hidden;
	@media(min-width: 600px) {
		font-size: 20px;
	}
	@media(min-width: 1500px) {
		font-size: 24px;
	}
	@media(min-width: 2000px) {
		font-size: 24px;
	}
}
h1,h2,h3 {	
	font-family: $montserrat;
	text-transform: uppercase;
}
p,a {
	// font-family: $lato;
}
a {
	color: $goldenrod;
	text-decoration: none;
}
button {
	margin: 0;
	padding: 0;
	border: 0;
	background: transparent;
	font-family: inherit;
	font-size: 1em;
	cursor: pointer;
	&:-moz-focus-inner{
		padding: 0;
		border: 0;
	}
	&:focus {
		outline: 0;
	}
}
.container {
	position: relative;
	max-width: 600px;
	margin: 0 auto; // Pushes below topnav
	padding-top: 50px;
}

.headline {
	width: 100%;
	padding: 0 .75em;
	background-color: $base;
	color: $text-0;
	text-align: left;
	h1 {
		margin: 0 auto;
		font-size: 2em;
		line-height: 1.2em;
		letter-spacing: .05em;
		padding: .3em 0;
		text-shadow: .05em .05em $base, .1em .1em $primary;
		@include transition(all .5s ease);
		span {
			display: block;
			&:last-child {

			}
		}
		@media(min-width: 600px) {
			font-size: 2.75em;
		}
		@media(min-width: 768px) {
			font-size: 3em;
		}
	}
	p {
		line-height: 1.5em;
		font-size: 1.3em;
		margin: 0 auto;
		color: $text-0;
		padding-bottom: 1em;
	}
	.credit {
		font-size: 1em;
		color: $text-2;
	}
	// @include transition(all .5s ease);
	&.active {
		h1 {
			color: $text-2;
			font-size: 1.5em;
			text-shadow: .05em .05em $base, .1em .1em $text-2;
		}
	}
}
.startButton {
	width: 100%;
	font-size: 2em;
	text-align: right;
	color: $text-2;
	i:hover {
			color: $primary;
			cursor: pointer;
	}
}
.data {
	position: relative;
	padding: .75em;
	background-color: $base;
	@media(min-width: 1000px) {
		margin: 0 auto;
	}

	.navButtons {
		display: none;
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		color: $text-2;
		font-size: 2em;
		i:hover {
			color: $primary;
			cursor: pointer;
		}
		.icon-left-open {

		}
		.icon-right-open {
			float: right;
		}
	}
	&__viz {
		text-align: center;
		svg {

		}
		.cube {
		}
		&__legend {
			text {
				font-size: 1em;
				font-family: $lato;
				font-weight: bold;
				fill: $text-2;
			}
		}
	}
	.map {
		padding: 1em;
		@media(min-width: 400px) {
			max-width: 350px;
			margin: 0 auto;
		}
		@media(min-width: 768px) {
			width: 36%;
			padding: 1em 0;
			margin-bottom: 3em;
			text-align: center;
			float: left;
		}
		svg {
			width: 100%;
			.neighborhood {
				fill: $primary-dark;
				fill-opacity: .5;
				stroke: $base;
				stroke-width: 2px;
				cursor: pointer;
				&--highlight {
					fill: $accent-0;
					fill-opacity: 1!important;
				}
			}
		}
		&__averageLabel {
			margin: .5em auto;
			font-weight: bold;
			text-align: center;
			text-transform: uppercase;
			color: $text-2;
			span {
				background-color: $accent-0;
				color: $text-1;
				padding: .1em .5em;
			}
		}
		&__legend {
			width: 100%;
			height: 1em;
			position: relative;
			// padding: 1em .5em;
			border-radius: 4px;
			background: $accent-0;
			background: linear-gradient(to right, rgba($primary-dark,.1), rgba($primary-dark,1));
			&__label {
				position: absolute;
				bottom: -1.1em;
				line-height: 1em;
				font-weight: bold;
				color: $text-2;
				&--left {
					left: 0;
				}
				&--right {
					right: 0;
				}
			}
			&__average {
				width: 4px;
				height: 1.5em;
				position: absolute;
				bottom: -0.25em;
				left: 50%;
				background-color: $accent-0;
				border-left: 1px solid $shader-9;
				border-right: 1px solid $shader-9;
				// @include transition(all .5s ease);
			}
		}
	}
}
.text {
	padding: 0 .75em;
	font-family: $lato;
	color: $text-0;
	font-size: 1em;
	&__header {
		color: $primary-dark;
		font-size: 1.5em;
		text-transform: uppercase;
		text-align: center;
		margin:  0;
	}
	&__stat {
		color: $text-2;
		font-size: 1em;
		text-align: left;
		margin: .5em 0;
		span {
			font-weight: bold;
		}
	}
	&__list {
		color: $text-2;
		font-size: 1em;
		text-align: center;
		margin: .5em 0;
		span {
			font-weight: bold;
		}
	}
}
.shareButtons {
	position: fixed;
	top: 0;
	right: 0;
	padding: .2em;
	color: $shader-0b;
	font-size: 1.5em;
	i {
		cursor: pointer;
		&:hover {
			color: $accent-0;
		}
	}
} 
/* Leaderboard */
#leaderboard {
	width: 728px;
	height: 90px;
	background-color: $base;
	margin: 10px auto;
	text-align: center;
	clear: both;
	@media (max-width: 730px){
		display: none;
	}
}
// .overlay {
// 	display: none;
// 	width: 100%;
// 	height: 100%;
// 	position: fixed;
// 	top: 0;
// 	left: 0;
// 	padding-top: 50px;
// 	background-color: $base;
// 	z-index: 9999999999;
// 	overflow: auto;
// 	&__closeBtn {
// 		position: absolute;
// 		top: .5em;
// 		right: .5em;
// 		color: $accent-0;
// 		cursor: pointer;
// 		text-transform: uppercase;
// 		i {
// 			font-size: 3em;
// 		}
// 	}
// 	&__neighborhoodName {
// 		width: 100%;
// 		margin: 2em auto 1em auto;
// 		padding: 0 1.5em;
// 		h2 {
// 			position: relative;
// 			max-width: 400px;
// 			margin: 0 auto;
// 			color: $text-1;
// 			background-color: $primary;
// 			border-radius: 5px;
// 			padding: .5em;
// 			text-align: center;
// 			&:after {				
// 				content: "";
// 				position: absolute;
// 				top: 100%; /* At the bottom of the tooltip */
// 				left: 50%;
// 				margin-left: -.75em;
// 				border-width: .75em;
// 				border-style: solid;
// 				border-color: $primary transparent transparent transparent;
// 			}
// 		}
// 	}
// 	&__mapWrapper {
// 		background-color: white;
// 		padding: 1.5em;
// 		text-align: center;
// 		svg {
// 			width: 100%;
// 			@media(min-width: 400px) {
// 				max-width: 400px;
// 			}
// 			.neighborhood {
// 				fill: $shader-2;
// 				stroke: $base;
// 				stroke-width: 2px;
// 			}
// 		}
// 	}
// }
